@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-surface: #ffffff;
  --padding-layout: 18px;
  --color-badge-orange: #EF811F;
  --color-seperator: #616161;
}


[data-theme='dark'] {
  --color-background: #1A1B26;
  --color-surface: #000000;
  --color-seperator: #ffffff;
  color: white;

}

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}


@layer base {
  body {
    background-color: var(--color-background);
    padding: var(--padding-layout);
    font-size: 14px;
  }
}